REDMINE_TOKEN: ''
REDMINE_SITE: ''
GITHUB_TOKEN: ''
ORGANIZATION: ''
CLOSE_DATE:
OPEN_ISSUE_STATUS_NAME:
CLOSED_ISSUE_STATUS_NAME:
DEFAULT_PRIORITY_NAME:
DEFAULT_ROLE:
DEFAULT_TRACKER:
REPOSITORY_FILTER:
                    - repository_name_leave

